@charset "utf-8";

html,
body,
.App {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}
* {
  box-sizing: border-box;
}
/************header***********/

.App-header {
  display: flex;
  color: #0f1e32;
  background-color: #94c8ad;
  height: 8%;

  text-align: center;
}

h1 {
  margin-top: 0;
  width: 90%;
  padding-top: 1vh;
}
button {
  width: 10%;
}

/**************Side bar*******************/

.side-bar {
  display: flex;
  flex-direction: column;
  height: 84%;
  width: 320px;
}

.search-places {
  display: flex;
  background-color: black;
  z-index: 3;
}

input {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #dedede;
}

.List {
  flex: 1;
  overflow: auto;
  background: #f3f3f6;
  transition: transform 0.3s ease;
  z-index: 3;
}
ol {
  list-style: none;
}

li {
  margin-left: -40px;
}

.Button-location {
  height: 8vh;
  border: 2px solid#e5f3dd;
  width: 100%;
  white-space: normal;
}

/*****************Map***********************/

.map-area {
  position: fixed;
  top: 8%;
  right: 0;
  height: 84%;
  width: calc(100% - 320px);
  transition: width 1s;
}

#map {
  height: 100%;
}

.Details-info {
  text-align: center;
  height: 300px;
  width: 200px;
}
.details-footer {
  padding-top: 20px;
}
.error {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #eee;
}
.error-message {
  color: #0f1e32;
  padding: 25%;
}
/*******************footer********************/

footer {
  width: 100vw;
  background-color: #94c8ad;
  height: 8%;
  text-align: center;
}
h4 {
  padding-top: 2vh;
}

h4 {
  padding-top: 2vh;
  margin: 0;
}
a {
  color: black;
}

/*******Hide/Show side bar**********/

.hide {
  -webkit-transform: translate(-320px, 0);
  transform: translate(-320px, 0);
  transition: transform 0.3s ease;
}

.full-width {
  width: 100%;
}

/*********API error text style********/

.error-message {
  color: #bf0000;
  padding-bottom: 0;
}
.error-message-main {
  width: 50%;
  color: #bf0000;
  position: absolute;
  top: 30vh;
  background-color: #dedede;
  left: 45vh;
  z-index: 3;
}
